
// Typography
$font-family-sans-serif: 'Aileron', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$background: #dbebf5;
$grey: #F2F2F2;

//$orange: #FFBD71;
$orange: #FFA947;
$yellow: #FFE371;
$red: #f3726a;
$light-red: #f9b6a8;
$green: #2FD145;
$blue: #0051b6; 
$dark-blue: #2f4858;

$black: #222222;

// Borders
$border-radius: 15px;
$shadow: rgba(47, 72, 88, 8%) 0 2px 8px;


